/* Общие стили для всех секций */
.aboutbox{
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.aboutbox .aboutbox-header{
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 23px 0;
	padding: 13px 23px;
	display: inline-block;
}
.aboutbox-body{
	padding-bottom: 40px;	
}
/* Общие стили для всех секций - конец */

.site-wrap{
	margin: 0 20px 0 20px; 
}

.site-wrap .site-list{
	margin-left: -25px; 
}

.site-list .site{
	
	width: 183px;
	margin: 0 0 34px 25px;
	list-style: none;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	position: relative;
}

.site-list .site-last{
	margin: 0 0 0 25px;
}

.site-img{
	width: 179px;
	height: 125px;
	border: 2px solid #3ba8c0;
	border-radius: 5px;
	overflow: hidden;
}

.site .site-text{
	font-family: 'fira_sanslight_italic';
	font-size: 13px;
	color: #3ba8c0;
	text-decoration: none;
}


.site .site-description{
	font-family: 'fira_sanslight';
	font-size: 15px;
	color: #4a545d;
	margin-top: 7px;
}

/* Начало - Прозрачность и синий фон при наведении курсора */
.site:hover .site-img-image{
	-moz-opacity: 0.20;
	opacity:.20;
	filter: alpha(opacity=20);
}
.site:hover .site-img{
	background-color: #016ca4;
}
/* Конец - Прозрачность и синий фон при наведении курсора */

.site .zoom-img{
	position:absolute;
	width: 100%;
	top: 55px;
	text-align: center;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.site .zoom-web {
	font-family: 'fira_sansbook';
	font-size: 12px;
	border: solid 3px #eff3f7;
	color: #eff3f7;
	text-decoration: none;
	border-radius: 5px;	
	padding: 0 4px;
}
/* Появление ссылки на сайт */
.site:hover .zoom-img {	
	transform: scale(1);
	-webkit-transform: scale(1);
}

.site-list .site-add{
	width: 181px;
	height: 127px;
	border: 1px dashed #3ba8c0;
	background-image: url(../img/my-work/project-add-icon.png);
	background-repeat: no-repeat;
	background-position: 77px 34px;	
	border-radius: 5px;
	background-color: #edf8fc;
	display: block;
	width: 181px;
	height: 127px;
	cursor: pointer;
	text-decoration: none;
}

.site-add .site-add-text{
	margin-top: 73px;
	font-family: 'fira_sanslight';
	font-size: 13px;
	color: #3ba8c0;
	
}

#site-new-popup{
	display: none;
}
